//
   Created by pires on 4/20/2018.
extends layout

block content
    .jumbotron
        .container
            h1 About Us
            p This is perez new system thanks for finding in we love you!
            a.btn.btn-primary.btn-lg(href='#') Learn more
